Flask==1.0.2
pymysql==0.8.1

# Flask Extensions
Flask-Admin==1.5.1
Flask-Babel==0.11.2
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.3
Flask-Mail==0.9.1
Flask-Moment==0.6.0
Flask-PageDown==0.2.2
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2

# Others
python-dotenv==0.8.2
markdown==2.6.11
bleach==2.1.3