{% extends "base.html" %}


{% block title %}Flasky - 图片查看{% endblock %}

{% block page_content %}
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h1>查看图片</h1>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('pic.upload_file') }}">上传</a></li>
            <li><a href="{{ url_for('pic.manage_file') }}">管理</a></li>
        </ul>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p>图片完整链接: {{ file_url }}</p>
                <img src="{{ file_url }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}